.cover-wrap, .product-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.cover-wrap .cover-img, .product-wrap .product-img{
    width: 300px;
    height: 168px;
    border: 2px solid #cccccc;
    margin-right: 50px;
}

.cover-wrap .cover-img img, .product-wrap .product-img img{
    width: 100%;
    height: 100%;
}

.cover-wrap .cover-tips {
    outline: 0;
    border: 0;
    line-height: 38px;
    height: 38px;
    width: 98px;
    background: #1AA094;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 173px;
}

.product-name {
    font-size: 16px;
    margin-right: 100px;
}

.button {
    outline: 0;
    border: 0;
    line-height: 38px;
    height: 38px;
    width: 68px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
}

.product-btn .edit {
    background: #1AA094;
    color: #ffffff;
}

.product-btn .del {
    background: red;
    color: #ffffff;
}

#add {
    outline: 0;
    border: 0;
    line-height: 38px;
    height: 38px;
    width: 98px;
    background: #1AA094;
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.layer-wrap {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  outline: 0;
}

.layer-wrap .layer {
    width: 550px;
    height: 500px;
    background: #fff;
    margin: 30px auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
    outline: 0;
    position: relative;
}

.layer-wrap .layer .layer-title {
    text-align: center;
    height: 42px;
    line-height: 42px;
    background: #393D49;
    color: #fff;
    display: flex;
    padding: 0 80px 0 20px;
    font-size: 14px;
    position: relative;
}

.layer-title .close {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 0 15px;
}

.layer-wrap-container {
  padding: 20px 30px;
}

.layer-wrap-container .colum > span, .poduct-detail > span {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 14px;
}

.colum input {
    width: 300px;
    box-sizing: border-box;
    height: 30px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.poduct-detail {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.poduct-detail .add-detail {
    height: 168px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-left: 4px;
    position: relative;
}

.poduct-detail .add-detail img {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
}

.poduct-detail .add-detail .add {
    position: absolute;
    left: 119px;
    top: 29px;
    font-size: 70px;
    color: #999999;
}

.btn-wrap {
    position: absolute;
    bottom: 15px;
    margin-left: 100px;
}

.save {
    height: 30px;
    line-height: 30px;
    width: 60px;
    background: #1AA094;
    color: #ffffff;
    margin-left: 0;
}

.cancel {
    height: 30px;
    line-height: 30px;
    width: 60px;
    background: #f5f5f5;
    border: 1px solid #cccccc;
    margin-left: 20px;
}

.none {
    display: none;
}