<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>bonface 后台管理系统</title>
		<link href="./css/reset.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/system.css"/>
		<script src="./js/res/jquery.min.js"></script>
	</head>
	<body>
	  <header>bonface 管理后台</header>
	  <div id="login-wrap">
	  	<div class="login">
        <input type="text" id="userName" placeholder="请输入用户名"/>
        <input type="password" id="password" placeholder="请输入密码"/>
        <input type="submit" id="login" value="登录" />
      </div>
	  </div>
	</body>
</html>
